body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; 
    color: #fff; 
}

.calculator {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.display {
    text-align: right;
    margin-bottom: 10px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#display {
    font-size: 6rem;
    line-height: 1;
    padding: 10px 15px;
    overflow-x: hidden;
    white-space: nowrap;
    font-weight: 300; 
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.calc-button {
    border: none;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
    transition: opacity 0.1s;
    user-select: none;
    cursor: pointer;
    color: #fff;
}

.calc-button:active {
    opacity: 0.7;
}

.number {
    background-color: #333333;
}

.function {
    background-color: #A5A5A5;
    color: #000;
}

.operator {
    background-color: #FF9F0A;
}

.zero-button {
    grid-column: span 2;
    border-radius: 50px;
    justify-content: flex-start;
    padding-left: 15%;
    aspect-ratio: unset; 
}